:root {
  --font-header: 'Roboto Condensed', sans-serif;
  --font-paragraph: 'Cabin', sans-serif; }

:root {
  --font-paragraph: 'Cabin', sans-serif;
  --font-header: 'Roboto Condensed', sans-serif;
  --yellow: #FDA804;
  --green: #324932;
  --white: #F1F1F1;
  --green-light: #DDE3DD;
  --blue: #021D3C; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--blue); }

.heading, .heading-1, .heading-2, .footer__link:link, .footer__link:visited, .btn {
  font-family: var(--font-header);
  font-weight: 700;
  text-transform: uppercase; }

.heading-1 {
  font-size: 3rem;
  color: var(--white); }

.heading-2 {
  font-size: 2.5rem;
  color: var(--blue); }

.heading-3 {
  font-family: var(--font-paragraph);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.8rem; }

body {
  background-color: #F1F1F1; }

.header {
  background-image: linear-gradient(to right, rgba(50, 73, 50, 0.4), rgba(50, 73, 50, 0.4)), url("../../Images/hero-image.jpg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 5rem 5rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center; }
  .header__text {
    font-style: italic; }

.bestsellers {
  text-align: center; }
  .bestsellers__header {
    margin-top: 4rem; }

.products__available-text {
  padding: 3vh;
  text-align: center; }

.products__avaiable--logos {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem; }

.products__avaiable__logo > img {
  height: 3vh;
  width: auto; }

.products__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end; }
  .products__details > * {
    padding: 1rem 1.5rem; }
  .products__details--text {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 0; }
  .products__details .btn {
    width: 100%; }
  .products__details--logo {
    width: 6rem;
    position: relative;
    top: -0.2rem; }

.product__details--image {
  width: 8rem;
  height: auto; }

.testimonials {
  background-color: var(--green-light);
  padding: 2rem;
  text-align: center; }
  .testimonials__heading {
    padding: 2rem; }

.customers {
  display: grid;
  justify-items: center;
  text-align: left;
  margin: 2rem 4rem; }

.customer__images {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  position: relative; }

.customer__image--vertical {
  width: 110%;
  height: auto;
  position: absolute; }

.customer__image--horizontal {
  height: 120%;
  width: auto;
  position: absolute; }

.customer__image--1 {
  top: -4rem;
  left: -1rem; }

.customer__image--2 {
  width: 140%;
  left: -4rem;
  top: -4rem; }

.customer__image--3 {
  left: -4rem; }

.localsource {
  background-image: linear-gradient(to right, rgba(50, 73, 50, 0.4), rgba(50, 73, 50, 0.4)), url("../../Images/farm.jpg");
  height: 85vh;
  width: 100vw;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-gap: 3rem;
  justify-items: center;
  padding: 4rem 4rem 1rem 4rem;
  color: var(--white); }
  .localsource__heading {
    margin-top: 8rem;
    color: var(--white); }
  .localsource__logos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    grid-gap: 2rem;
    background-color: transparent;
    align-items: center;
    align-content: flex-end;
    justify-items: center; }
    .localsource__logos img {
      width: 5rem; }

.connect {
  background-color: var(--green);
  padding: 1rem;
  text-align: center; }
  .connect__heading {
    color: var(--white);
    margin: 2rem auto 3rem auto; }
  .connect__logos {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center; }
    .connect__logos img {
      width: 8rem; }

.footer__links {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  list-style-type: none; }

.footer__link:link, .footer__link:visited {
  color: var(--green);
  text-decoration: none; }

.footer p {
  background-color: var(--green-light);
  padding: 2rem 6rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--green); }

.btn {
  background-color: #FDA804;
  border: none;
  padding: 1rem;
  font-weight: 300; }
  .btn :link, .btn :visited {
    text-decoration: none;
    color: var(--white); }
  .btn img {
    margin-top: 1rem; }
  .btn--grid {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center; }
