body {
    background-color: #F1F1F1;
}

.header {
    background-image: linear-gradient(to right, rgba(#324932, 0.4), rgba(#324932, 0.4)), url("../../Images/hero-image.jpg");
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;


    color: var(--white);
    padding: 10vw;

    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;

    @media screen and (min-width: $bp-desktop) {
        grid-template-columns: 40vw 1fr;
        justify-items: left;
        text-align: left;

        &__logo {
            grid-column: 1/2 ;
        }

        &__text {
            grid-column: 1/2 ;
        }

        &__btn {
            grid-column: 1/2 ;
        }
    }

    &__text {
        font-style: italic;
    }

    &__cta-text {
        font-family: var(--font-header);
        font-weight: 300;
        margin: 2vw;
        text-transform: uppercase;

        @media screen and (min-width: $bp-desktop) {
            grid-column: 1 / 2;
            margin: 2.5rem 0 1rem 0;
        }
    }

    &__btn {
        width: 60%;
    }

    &__amazon--logo {
        width: 6rem;

        @media only screen and (min-width: $bp-tablet){
            width: 10rem;
        }
    }
}

.bestsellers {

    text-align: center;
    padding: 8vw;
    padding-bottom: 10vw;

    &__header {
        margin-top: 4rem;
    }
}

.products {

    &__available {

        &-text {
            padding: 3vh;
            text-align: center;
        }
    }

    &__avaiable--logos {
        background-color: var(--blue);

        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-items: center;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
    }

    &__avaiable__logo>img {
        height: 3vh;
        width: auto;
    }
}

.products__details {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    align-items: end;

    @media screen and (min-width: $bp-desktop) {
        font-size: 1.6rem;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8rem;
        align-items: flex-end;
        margin-top: 8rem;
    }


    &--text {
        text-align:left;
        margin-bottom: 1rem;
        padding: 1rem 0;

    }

    .btn {
        width: 100%;
    }

    &--logo {
        width: 6rem;
        position: relative;
        top: -0.2rem;
    }
}

.product {

    &__details--image {
        width: 8rem;
        height: auto;
    }
}

.testimonials {
    background-color: var(--green-light);
    padding: 5vw;
    text-align: center;
}

.customers {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    text-align: left;

    margin: 2rem 4rem;

    &>*:not(:last-child){
        margin-bottom: 2rem;
    }

}

.customer {
    &__images {
        width: 10rem;
        height: 10rem;
        overflow: hidden;

        border-radius: 50%;
        position: relative;
        display: block;

        margin: 2rem auto;
    }

    &__image {

        &--vertical {
            width: 110%;
            height: auto;
            position: absolute;
        }

        &--horizontal {
            height: 120%;
            width: auto;
            position: absolute;
        }

        &--1 {
            top: -4rem;
            left: -1rem;
        }

        &--2 {
            width: 140%;
            left: -4rem;
            top: -4rem;
        }

        &--3 {
            left: -4rem;
        }
    }

    &__text {
        margin-bottom: 0.5rem;
        font-style: italic;
    }

    &__name {
        @extend .heading;
    }

}

.localsource {
    background-image: linear-gradient(to right, rgba(#021D3C, 0.5), rgba(#021D3C, 0.5)), url("../../Images/farm.jpg");
    height: 85vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-gap: 3rem;
    justify-items: center;

    padding:8vw 8vw 2vw 8vw;

    color: var(--white);

    &__heading {
        margin-top: 8rem;
        color: var(--white);
    }

    &__logos {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, min-content);
        padding: 0;
        grid-gap: 2rem;
        background-color: transparent;
        align-items: center;
        align-content:flex-end;
        justify-items: center;
        justify-content: space-between;
    }

    &__logo--vertical {
        width: 5rem;

        @media only screen and (min-width: $bp-tablet){
            width: 8rem;
        }
    }

    &__logo--horizontal {
        height: 4rem;

        @media only screen and (min-width: $bp-tablet){
            height: 6rem;
        }
    }
}

.connect {

    background-color: var(--green);
    padding: 1rem;
    text-align: center;

    &__heading {
        color: var(--white);
        margin: 2rem auto 3rem auto;
        font-family: var(--font-header);
        text-transform: uppercase;
    }

    &__logos {

        margin-bottom: 1rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        justify-items: center;



        img {
            width: 8rem;
        }
    }

    &__logo--3 {
        position: relative;
        top: -0.3rem;
    }
}

.footer {

    &__links {

        display: flex;
        justify-content: space-around;

        padding: 3rem;
        list-style-type: none;

    }


    &__link:link,
    &__link:visited {
        @extend .heading;
        color: var(--green);

        text-decoration: none;
    }

    p {
        background-color: var(--green-light);
        padding: 2rem 6rem;

        font-size: 1.2rem;
        text-align: center;
        color: var(--green);
    }

}
